@import "../../components/main.css";
@import "../../components/colors.css";
@import "../../components/hexagons.css";
@import "../../components/font.css";

.docPrepaidCard {
  width: 90%;
  background-color: #cc9ecc;
}

.formcontainer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.buttonHexa {
  position: absolute;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  top: 397px;
  left: 172px;
  font-family: "Xatoxi Atari";
}

.okText {
  color: white;
}

.makeOtc {
  cursor: pointer;
}

#actionDoc {
  position: absolute;
  left: 315px;
  top: 487px;
}

.requiredOff {
  position: absolute;
  width: 360px;
  top: 290px;
}

.requiredOn {
  position: absolute;
  width: 320px;
  top: 290px;
}

.selDoc {
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
  outline: none;
}

.off {
  display: none;
}

.on {
  display: block;
  top: -172px;
  position: absolute;
  width: 20px;
}

.icon {
  height: 20px;
  width: 20px;
}

#penAction,
#docAction,
.labelFile,
.handCursor {
  cursor: pointer;
}

#uploadDoc {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 20px;
  left: 0px;
  height: 20px;
}

.font {
  font-family: "Xatoxi Atari";
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.field-full {
  background-color: #009ddca1;
  height: 50px;
  width: 97%;
  color: black;
  margin-top: 3px;
  margin-left: 5px;
  border: 1px solid white;
  padding-left: 20px !important;
  border-radius: 5px;
  font-family: "Xatoxi Atari";
}

.field-full::-webkit-input-placeholder {
  /* Edge */
  color: black;
}

.field-full:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.field-full::placeholder {
  color: black;
}

.select-contact {
  position: relative;
  top: 160px;
}

.select-currency {
  position: relative;
  top: 170px;
}

.field-amount {
  position: relative;
  top: 180px;
}

.field-comment {
  position: relative;
  top: 190px;
}

.rotate-x {
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  /* IE 9 */
  -moz-transform: rotate(15deg);
  /* Firefox */
  -webkit-transform: rotate(15deg);
  /* Safari and Chrome */
  -o-transform: rotate(15deg);
  /* Opera */
  height: 20px;
}

.colum1 :nth-child(10) .style {
  background-color: #963d97;
}

.colum3 :nth-child(10) .style {
  background-color: #963d97;
}

.colum3 :nth-child(9) .style {
  background-color: #963d97;
}

.colum4 :nth-child(10) .style {
  background-color: #963d97;
}

.colum5 :nth-child(9) .style {
  background-color: #963d97;
}

.colum5 :nth-child(10) .style {
  background-color: #963d97;
}

.hex-zIndex {
  z-index: 5;
}

.box {
  background-color: #963d97;
}

.colum7 :nth-child(10) .style {
  background-color: #963d97;
}

.hexa-sp {
  position: relative;
  top: 21px;
  width: 81px;
  display: inline-block;
}

.hexa-step-one {
  position: relative;
  top: 128px;
  width: 81px;
  left: 138px;
  display: inline-block;
}

.hexa-step-ok {
  position: relative;
  top: 560px;
  width: 81px;
  left: 53px;
  display: inline-block;
}

/*------------------------------------------------------*/

#formTDC {
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  height: 300px;
  text-align: center;
}

input,
select {
  text-transform: uppercase;
  background-color: #fedc94;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 56px;
  color: black;
  padding-left: 0.85em;
  font-family: Xatoxi Atari;
  margin-bottom: 12px;
}

input::placeholder {
  color: black;
}

.fechaVencimientoMes {
  display: inline;
  height: 56px;
}

.fechaVencimientoAnio {
  display: inline;
  height: 56px;
}

#tipoTarjetaCredito,
#numeroTarjetaCredito,
#codigoValidacion {
  width: 335px;
}

.OK {
  background: none;
  border: none;
  color: white;
  font-family: Xatoxi Atari;
  font-size: 1.5em;
}

.docSelect {
  width: 292px;
  margin-left: 13px;
}

.seleccionarDocumento {
  display: flex;
}

.upload {
  position: absolute;
  top: 289px;
  left: 315px;
  width: 20px;
}

#numeroTarjetaCreditoLabel {
  position: absolute;
  left: 24px;
  top: 16px;
  font-family: "Xatoxi Atari";
}
#fechaVencimientoMesLabel {
  position: absolute;
  left: 24px;
  top: 156px;
  font-family: "Xatoxi Atari";
}
#fechaVencimientoMesLabel {
  position: absolute;
  left: 24px;
  top: 152px;
  font-family: "Xatoxi Atari";
}
#fechaVencimientoYearLabel {
  position: absolute;
  left: 197px;
  top: 152px;
  font-family: "Xatoxi Atari";
}
#codigoValidacionLabel {
  position: absolute;
  left: 24px;
  top: 217px;
  font-family: "Xatoxi Atari";
}

#tipoTarjetaCreditoLabel {
  position: absolute;
  left: 24px;
  top: 84px;
  font-family: "Xatoxi Atari";
}
#seleccionarDocumentoLabel {
  position: absolute;
  left: 24px;
  top: 290px;
  font-family: "Xatoxi Atari";
}
#docListPenLabel{
  position: absolute;
  left: 24px;
  top: 27px;
  font-family: "Xatoxi Atari";
}
