@import "../../components/main.css";
@import "../../components/colors.css";
@import "../../components/hexagons.css";
@import "../../components/font.css";
@import "../../components/modalSumaryOp.css";

.containerformPurple {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -19px;
  height: 266px;
  justify-content: space-between;
}

.first_background {
  background-color: #963d97 !important;
}

.first {
  background-color: #9c9c9c !important;
}

.second_step {
  background-color: #963d97 !important;
}

.second_step_background {
  background-color: #9c9c9c !important;
}

.white {
  background-color: white !important;
}

.dis {
  display: none !important;
}

.izquierda {
  margin-left: -50% !important;
}

.formContainer {
  position: absolute;
  width: 360px;
  font-family: Xatoxi Atari;
  z-index: 4;
  top: 230px;
  height: 300px;
}

.pagina {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagina:nth-child(2) {
  justify-content: flex-start;
}

.containerformPurple {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -19px;
  height: 266px;
  justify-content: space-between;
}

.containerinputPurple {
  width: 95%;
}

.containerinputPurple_Especial {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

#codigo_2 {
  width: 40%;
}

.optionsPurple {
  background-color: #cc9ecc;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 342px;
  height: 56px;
  color: black;
  padding-left: 0.85em;
  font-family: Xatoxi Atari;
}

.colum1 :nth-child(10) .style {
  background-color: #963d97 !important;
}

.colum3 :nth-child(11) .style {
  background-color: #963d97 !important;
  cursor: pointer;
}

.colum3 .hexa:nth-child(1) .three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.I::before {
  font-weight: negrita;
  font-size: 25px;
  color: white;
  content: "I";
}

.colum3 :nth-child(10) .style {
  background-color: #963d97 !important;
}

.colum5 .hexa:nth-child(1) .three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.II::before {
  font-weight: negrita;
  font-size: 25px;
  color: white;
  content: "II";
}

.colum5 :nth-child(10) .style {
  background-color: #963d97 !important;
}

.colum5 :nth-child(11) .style {
  background-color: #963d97 !important;
}

.colum7 :nth-child(10) .style {
  background-color: #963d97 !important;
}

#buttonSubmit {
  background: none;
  border: none;
  position: absolute;
  top: 345px;
  left: 170px;
  z-index: -1;
}

/* .img {
  width: 20%;
  position: absolute;
  top: 310px;
  left: 120px;
  cursor: pointer;
} */

.okButton {
  background: none;
  border: none;
  position: absolute;
  width: 40px;
  top: 338px;
  left: 158px;
}

input#codigo.optionsPurple {
  width: 40%;
}

.cardSegurity {
  display: flex;
  width: 340px;
}

.cardSegurity div {
  width: 170px;
}

.cardSegurity input {
  width: 170px;
}

.nextButton {
  position: absolute;
  width: 40px;
  top: 384px;
  left: 207px;
  cursor: pointer;
}

.backButton {
  position: absolute;
  width: 40px;
  cursor: pointer;
  top: 365px;
  left: 113px;
}

input {
  width: 342px;
}

.cardData {
  width: 350px;
  height: 200px;
  padding-left: 4px;
}

#penAction,
#docAction,
.labelFile,
.buyotclist,
.sellotclist,
.buysellotc,
.handCursor {
  cursor: pointer;
}

#uploadDoc {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 20px;
  left: 0px;
  height: 20px;
}

#actionDoc {
  position: absolute;
  left: 315px;
  top: 510px;
  z-index: 10;
}
.requiredOff {
  position: absolute;
  width: 360px;
  top: 480px;
  z-index: 10;
}
.requiredOn {
  position: absolute;
  width: 300px;
  top: 480px;
  z-index: 10;
}
.selDoc {
  margin-left: 10px;
  margin-top: 10px;
  width: 95%;
  outline: none;
}
.options {
  border: 1px solid white !important;
  height: 35px !important;
  color: rgba(0, 0, 0, 0.548);
  padding-left: 0.85em;
  border-radius: 5px !important;
}
.off {
  display: none;
}
.on {
  display: block;
}

.icon {
  height: 20px;
  width: 20px;
}

.containerformPurple02 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -19px;
  height: 196px;
  justify-content: space-between;
}
.containerformPurple03 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -19px;
  height: 266px;
  justify-content: space-between;
}

#montoLabel {
  left: 24px;
  position: absolute;
  top: 40px;
  font-family: "Xatoxi Atari";
}
#codigoLabel {
  left: 18px;
  position: absolute;
  top: 227px;
  font-family: "Xatoxi Atari";
}
#telefonoPMLabel {
  left: 200px;
  position: absolute;
  top: 226px;
  font-family: "Xatoxi Atari";
}
#numberLabel {
  left: 24px;
  position: absolute;
  top: 156px;
  font-family: "Xatoxi Atari";
}
#bankAccountLabel {
  left: 24px;
  position: absolute;
  top: 227px;
  font-family: "Xatoxi Atari";
}
#fechaVencMesLabel,
#fechaVencMes_2Label,
#tasainputLabel {
  left: 24px;
  position: absolute;
  top: 16px;
  font-family: "Xatoxi Atari";
}
#tasainputLabel {
  color: white;
}
#fechaVencAñoLabel,
#fechaVencAño_2Label {
  position: absolute;
  top: 16px;
  left: 195px;
  font-family: "Xatoxi Atari";
}
.codigoValidacionLabel01 {
  position: absolute;
  top: 87px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
.codigoValidacionLabel02 {
  position: absolute;
  top: 227px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
.codigoValidacionLabel03 {
  position: absolute;
  top: 122px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#codigoValidacion_2Label {
  position: absolute;
  top: 227px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#codigo_2Label {
  position: absolute;
  top: 227px;
  left: 14px;
  font-family: "Xatoxi Atari";
}
#telefonoPM_2Label {
  position: absolute;
  top: 227px;
  left: 200px;
  font-family: "Xatoxi Atari";
}
#cuenta_2Label {
  position: absolute;
  top: 227px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#cardNumber_2Label {
  position: absolute;
  top: 156px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#monedasLabel {
  position: absolute;
  top: 104px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#debitLabel {
  position: absolute;
  top: 166px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#payLabel,
#target_1Label {
  position: absolute;
  top: 227px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#bank_1Label {
  position: absolute;
  top: 156px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#prefijoLabel {
  position: absolute;
  top: 227px;
  left: 76px;
  font-family: "Xatoxi Atari";
}
#target_2Label {
  position: absolute;
  top: 227px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#bank_2Label {
  position: absolute;
  top: 156px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
#prefijo_2Label {
  position: absolute;
  top: 227px;
  left: 76px;
  font-family: "Xatoxi Atari";
}
.purple {
  background-color: #963d97;
}
#docListPenLabel {
  position: absolute;
  top: 27px;
  left: 24px;
  font-family: "Xatoxi Atari";
}
