.eyeLeft-0 {
   top: 48px;
   left: 0px;
}
.icoLeft-0 {
   top: 21px;
   left: 46px;
}

.eyeLeft-1 {
   top: 101px;
   left: 0px;
}
.icoLeft-1 {
   top: 74px;
   left: 46px;
}

.eyeLeft-2 {
   top: 155px;
   left: 0px;
}
.icoLeft-2 {
   top: 127px;
   left: 46px;
}

.eyeLeft-3 {
   top: 209px;
   left: 0px;
}
.icoLeft-3 {
   top: 181px;
   left: 46px;
}

.eyeLeft-4 {
   top: 263px;
   left: 0px;
}
.icoLeft-4 {
   top: 235px;
   left: 46px;
}

.eyeLeft-5 {
   top: 317px;
   left: 0px;
}
.icoLeft-5 {
   top: 289px;
   left: 46px;
}

.eyeLeft-6 {
   top: 371px;
   left: 0px;
}
.icoLeft-6 {
   top: 343px;
   left: 46px;
}

.eyeLeft-7 {
   top: 425px;
   left: 0px;
}
.icoLeft-7 {
   top: 397px;
   left: 46px;
}

.eyeLeft-8 {
   top: 533px;
   left: 0px;
}
.icoLeft-8 {
   top: 506px;
   left: 46px;
}

.eyeRight-0 {
   top: 20px;
   left: 231px;
}
.icoRight-0 {
   top: 47px;
   left: 278px;
}

.eyeRight-1 {
   top: 74px;
   left: 231px;
}
.icoRight-1 {
   top: 101px;
   left: 278px;
}

.eyeRight-2 {
   top: 128px;
   left: 231px;
}
.icoRight-2 {
   top: 155px;
   left: 278px;
}

.eyeRight-3 {
   top: 182px;
   left: 231px;
}
.icoRight-3 {
   top: 209px;
   left: 278px;
}

.eyeRight-4 {
   top: 236px;
   left: 231px;
}
.icoRight-4 {
   top: 263px;
   left: 278px;
}

.eyeRight-5 {
   top: 290px;
   left: 231px;
}
.icoRight-5 {
   top: 317px;
   left: 278px;
}

.eyeRight-6 {
   top: 344px;
   left: 231px;
}
.icoRight-6 {
   top: 371px;
   left: 278px;
}

.eyeRight-7 {
   top: 398px;
   left: 231px;
}
.icoRight-7 {
   top: 425px;
   left: 278px;
}

.eyeRight-8 {
   top: 506px;
   left: 231px;
}
.icoRight-8 {
   top: 533px;
   left: 278px;
}
